<?xml version='1.0' encoding='utf-8'?>
<widget id="io.mojadomena.fitnessapptest" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fitness AppTest</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="res/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="res/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="res/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/drawable-xxxhdpi/icon.png" />
        <splash density="port-ldpi" src="res/drawable-port-ldpi/screen.png" />
        <splash density="port-mdpi" src="res/drawable-port-mdpi/screen.png" />
        <splash density="port-hdpi" src="res/drawable-port-hdpi/screen.png" />
        <splash density="port-xhdpi" src="res/drawable-port-xhdpi/screen.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <plugin name="org.awokenwell.proximity" spec="https://github.com/awoken-well/cordova-plugin-proximity.git" />
</widget>
